.text-white{
    color: white;
}

.fs-big{
    font-size: 32px;
}

.text-center{
    text-align: center;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-maap {
    background-image: url('../images/maap\ jersey.jpg');
}

