$header-font-family: 'Tenor Sans', sans-serif;
$text-font-family: acumin-pro, sans-serif;

@mixin bg-settings {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}