*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url("images/luca-j-jFz3oTdQN8E-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

h1{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.header-container{
    width: 35%;
    margin-left: 10rem;
    color: #DCDCDC;
}

.header__p{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

.brand-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.brand__image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn{
    font-family: 'Orbitron', sans-serif;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 3rem;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover{
    background-color: 	#C8C8C8;
    color: black;
}

.btn--col{
    font-size: 1.2rem;
}

.brand--maap{
    background-image: url("images/maap\ jersey.jpg");
}

.brand--pns{
    background-image: url("images/pns.jpg");
}

.brand--assos{
    background-image: url("images/assos.jpg");
}

.btn--brand{
    color: white;
    margin-bottom: 20px;
}

.about{
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(#e5e5e5, white);;
    text-align: center;
    padding: 6rem 0;
}

.about__p{
    width: 50%;
    margin: auto;
    line-height: 1.5rem;
}

