* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/luca-j-jFz3oTdQN8E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.nav {
    background-color: white;
    height: 4em;
    padding: 1em;
}

.logo {
    position: absolute;
    width: 100px;
    top: -1.4em;
    left: 0;
    right: 0;
    margin: auto;
}

.nav__links.active{
    overflow: visible;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 1s ease-in-out, opacity 1s linear;
}

.nav__links{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    font-family: acumin-pro, sans-serif;
    background-color: white;
    font-size: 1.2rem;
}

.nav__ul{
    position: relative;
    list-style: none;
    padding: 1em;
}

.nav__li>a{
    text-decoration: none;
    color: black;
}

.nav__li::after{
    content: url("images/icons8-expand-arrow-24.png");
    position: absolute;
    right: 5%;
}