:root{
    --text-font-family: acumin-pro, sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--text-font-family);
}

nav{
    position: fixed;
    width: 100vw;
    z-index: 1;
}

header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/luca-j-jFz3oTdQN8E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

h1{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.5rem;
}

.nav {
    background-color: white;
    height: 4em;
    padding: 1em;
}

.logo {
    position: absolute;
    width: 100px;
    top: -1.4em;
    left: 0;
    right: 0;
    margin: auto;
}

.nav__links.active, .nav--brand.active{
    overflow: visible;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 1s ease-in-out, opacity 1s linear;
}

.nav__links{
    position: relative;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    background-color: white;
    font-size: 1.2rem;
    z-index: 1;
}

.nav__ul{
    position: relative;
    list-style: none;
}

.nav--main{
    padding: 1em;
}

.nav__li::after{
    content: url("images/icons8-expand-arrow-24.png");
    position: absolute;
    right: 5%;
}

.nav--brand{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    font-size: 1rem;
    padding-left: 1em;
    list-style: none;
}

.nav__sub{
    text-decoration: none;
    color: black;
}

.header-container{
    position: absolute;
    color: white;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 3em;
}

.header-container *{
    margin-bottom: .5rem;
}

.btn{
    display: block;
    color: white;
    margin-bottom: .5em;
}

.grid__image{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.grid__image--man{
    background-image: url("images/MM_MENSG_CONTENT1_640x.webp");
}

.grid__image--woman{
    background-image: url("images/20210923-PNS_WEBSHOP_400-four-five.jpeg");
}

.btn--big{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    text-align: center;
}